
input{
    margin: 0 0 3% 1%;
  }
  
  label{
    margin-left: 10%;
  }
  
  .amount{
    margin-left: 5%;
    }

  .ViewOptions{
        width: 15%;
        height: 100%;
        display: inline-flex;
        margin: 0 3% 2% 75%;
  } 
  
  .ChartView{
     list-style-image: url("https://img.icons8.com/nolan/44/line-chart.png"); 
     padding-left: 50%;
  }
  .GridView{
     list-style-image: url("https://img.icons8.com/nolan/44/grid.png"); 
     padding-right: 50%;
  }
  .ListView{
     list-style-image: url("https://img.icons8.com/nolan/44/bulleted-list.png"); 
  } 
  
  @media only screen and (min-width: 2500px){
    .ViewOptions {
        margin: 0 0 1% 75%;
        width: 12%;
    } 
  }
  
  @media only screen and (min-width: 2500px){
    .amount {
        margin: 0 12% 0 10%;
    } 
  }
  
  .react-datepicker-wrapper,
  .react-datepicker__input-container,
  .react-datepicker__input-container input {
  margin-bottom: 15%;
  };
  