.wholeContainer{
   background-image: url('https://apod.nasa.gov/apod/image/2101/30dor_hubble_3939.jpg');
   background-size: cover;
   margin-top: 2%;


}

.topContainer {
    width: 50%; 
    margin: auto;
    text-align: center;
   padding-top: 90px;
}
.heading{
    text-shadow: 2px 0 rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, .60);
    padding: 2%;
    max-width: 50%;
    margin-left: 23%;
}

.explanation{
    width: 70%; 
    padding: 2%;
    margin: 7% auto;
    text-align: center;

    text-shadow: 2px 0 rgba(0, 0, 0, 1);
    font-size: 16px;
    background-color: rgba(0, 0, 0, .60);
}


@media only screen and (min-width: 2500px){
    .wholeContainer{
    height: 800px;
    margin-bottom: 50px;
    width: 105.50%;
    }
} 

@media only screen and (min-width: 2500px){
    .explanation{
        font-size: 20px;
        margin: -6% auto;
    }
} 

@media only screen and (min-width: 2500px){
    .heading{
        margin: 12% auto;
    }
} 

@media screen and (max-width: 1936px){
    .wholeContainer{
        height: 500px;
        margin-bottom: 50px;
    }
} 


     